* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #4a4a4a;
}

p {
  margin-bottom: 30px;
  color: #666;
}



.nav {
    text-decoration: none;
  background-color: #7c3aed;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  transition: tran
  
}
